.markdown-body {
  min-width: 480px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
}

div.mermaid {
  text-align: center;
}
