body {
    background-color: white;
}

.markdown-body {
  min-width: 512px;
  max-width: 978px;
  margin: 0 auto;
  padding: 30px;
}

div.mermaid {
  text-align: center;
}

hr.footnotes-sep {
  margin: 128px 0 32px 0;
  height: 1px;
}
.footnotes {
  font-size: 90%;
  padding-left: 16px;
}

li.footnote-item > p {
  margin: 8px 0;
}

.success, .info, .warning, .danger {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.success > p:last-child, .info > p:last-child, .warning > p:last-child, .danger > p:last-child {
  margin-bottom: 0;
}
.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

ul.table-of-contents {
  list-style-type: none;
}

ul.table-of-contents li {
  margin: 4px 0;
}

mark {
    color: black;
    background-color: yellow;
    border: 1px solid yellow;
}

/*************************/
/* below is for printing */
/*************************/

@media print {
    article.markdown-body > * {
        page-break-inside: avoid;
    }
}
