.markdown-body {
  min-width: 480px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
}

div.mermaid {
  text-align: center;
}

hr.footnotes-sep {
  margin: 128px 0 0 0;
  height: 1px;
}
.footnotes {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
